/** ** Custom Style Sheet ** **/


/* -----  Static CSS ----- */
html, body {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
}

/* ----- Text Formatting (All Screen Sizes) ----- */
h1, h2, h3, h4, h5, h6, p, li {
    font-family: Roboto;
    margin: 0;
}
h1 {
  text-align: right;
  font-weight: 100;
}
h2 {
  text-align: right;
  font-weight: 300;
}
h3 {
    font-weight: 300;
}
p {
    font-size: 1em; /* 16px */
}
li {
    font-weight: 300;
    padding-bottom: 0.25em;
}

/* ----- Navbar Styling ----- */
    /** Navbar Styling Default (All Screen Sizes) **/
    .li-article {
        font-size: 1.125em;
    }
    .li-section {
        font-size: 1em;
        list-style:lower-alpha;
    }
    .li-sub-section {
        font-size: 0.875em;
        list-style:lower-roman;
    }


/* ----- Responsive Text ----- */
    /** Extra Small (XS) (Devices) **/
    @media only screen and (max-width: 600px) {
        h1 {
            font-size: 4em;
        }
        h2 {
            font-size: 2.25em;
        }
    }
    /** Small (SM) (Devices) **/
    @media only screen and (min-width: 600px) and (max-width: 1024px) {
        h1 {
            font-size: 4em;
        }
        h2 {
            font-size: 2.25em;
        }
    }
    /** Medium (MD) (Devices) **/
    @media only screen and (min-width: 1024px) and (max-width: 1440px) {
        h1 {
            font-size: 2.5em;
        }
        h2 {
            font-size: 1.5em;
        }
    }
    /** Large (LG) (Devices) **/
    @media only screen and (min-width: 1440px) and (max-width: 2560px) {
        h1 {
            font-size: 4em;
        }
        h2 {
            font-size: 2.25em;
        }
    }
    /** Extra Large (XL) (Devices) **/
    @media only screen and (min-width: 2560px) {
        h1 {
            font-size: 4.5em;
        }
        h2 {
            font-size: 3em;
        }
    }
    /** Highlight Currently Selected Article in Navbar **/
        /* Desktop Device Screen Sizes (MD, LG, XL) */
    #highlighted {
            border-bottom: dashed 1px;
    }
        /* Mobile Device Screen Sizes (XS, SM) */
    @media only screen and (max-width: 1024px) {
        #highlighted {
            border: dashed 1px;
        }
    }

/* ----- Layout Styling ----- */

    /* Section Divs */
    .full-height {
        position: absolute;
        top: 0;
        height: 100%;
    }
    /** ----- Default Layout (MD, LG, XL) ----- **/
        /** Left Section Div **/
    @media only screen and (min-width: 1024px) {
        #left-section {
            position: absolute;
            left: 0px;
            border-right: solid 1px;
        }

            /** Left Section Top Div **/
        #ls-top-div {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            border-bottom: solid 1px;
        }
        #page-title-item {
            padding: 0;
            margin: 0;
        }
            /** Left Section Bottom Div **/
        #ls-bottom-div {
            display: flex;
            justify-content: center;
            position: absolute;
            left: 0px;
            width: 100%;
        }
        #nav-text-item {
            margin: 0;
            padding-top: 0;
        }
            /** Mid Section Div **/
        #mid-section {

        }
        #ms-top-div {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            position: absolute;
            top: 0;
            left: 0;
            width: 90%;
            border-bottom: solid 1px;
        }
        #article-heading {
            padding: 0;
            margin: 0;
        }
        #ms-bottom-div {
            position: absolute;
            left: 0;
            width: 90%;
        }
            /** Right Section Div **/
        #right-section {
            position: fixed;
            right: 0;
            width: 235px;
            border-left: dashed 1px;
        }
        #rs-top-div {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
        #rs-bottom-div {
            position: absolute;
            left: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
    }

    /** ----- SM Screen Size ----- **/
    @media only screen and (min-width: 600px) {
        /** Top Section SM Div **/
        #top-section-sm {
            flex-direction: column;
            position: absolute;
            left: 0;
            top: 0;
            height: 80px;
            width: 100%;
            margin: 0;
            background-color: green;
        }
        #left-section-sm {
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            position: absolute;
            width: 136px;
            top: 80px;
            background-color: red;
        }
        #right-section-sm {
            flex-direction: column;
            position: absolute;
            top: 80px;
            left: 136px;
            margin: 0;
            background-color: orange;
        }
		#bottom-section-sm {
			flex-direction: row;
			position: absolute;
			height: 80px;
			left: 136px;
			bottom: 0;
			
		}
            /** Left Section SM Div **/
            /** Right Section SM Div **/
    }
